* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }




